

.wrap{
	
	background: white;
	width-max: 1920 x 1080px;
	margin: 10px auto;
}


/*bagian header*/
.wrap .header{
	background: darkgreen;
	
	/*height: 150px;*/
	padding: 2px 10px;
	text-align:left;
	max: 20px;
        	font-weight:;
       	color: yellow;
	font-family:  vivaldi;
	margin-bottom:3px;
	line-height:0px;
      	font-size: 17px;
	text-align: center;
	background-color:darkgreen ;
	bottom: 200px;
}


.wrap .header2{
 
	background: darkgreen;
	/*height: 50px;*/
	padding: 2px 10px;
	text-align:left;
        	font-weight:bold;
       	color: yellow;
	left:30px;
	line-height:0px;
	font-family:  vivaldi;
      	font-size: 15px;
	text-align: center;
	margin-top:3px;
	height: 72px;
}


/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	background: white;
}

.wrap .menu ul{
	padding: 0;
	margin: 0;
	background:lightGreen;
	overflow: hidden;
       	color: white;
	font-size: 10px;
	text-align: center;	
	font-family:  Times New Roman;
	margin-top:3px;
}

.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}

a{
text-decoration:none;
}
/*akhir menu*/
 
.clear{
	clear: both;
	
}


.badan{
	height: 450px;
}


/*bagian sidebar*/
.wrap .badan .sidebar{
	background: white;
	float: left;	
	width: 20%;
	height: 400%;
	font-family: Times New Roman;
	color: Black;
	font-size: 10px;
	text-align: left;
	line-height:20px;
	margin-top:3px;
      	margin-bottom:5px;	
}


.wrap .badan .content{
	
	background:   white;
	float: left;
	height: 400%;
	width: 60%;
	text-align: Justyfi;
	line-height:16px;
	font-size: 10px;
	font-family: Times New Roman;
	color: blue;
	margin-top:3px;
      	margin-bottom:5px;	
	
}

.wrap .badan .tambah{
	
	background:  white;
	float: right;
	height: 400%;
	width: 20%;
	text-align: Justyfi;
	line-height:20px;
	font-size: 10px;
	font-family: Times New Roman;
	color: black;
	margin-top:3px;
      	margin-bottom:5px;	
	
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 20px;
    opacity: 0.9;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}
.share-btn:hover {
    color: #eeeeee;
}
.share-btn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    color: #e2e2e2;
    outline: none;
}
.share-btn.email { background:darkred; }
.share-btn.whatsapp { background:green; }
.share-btn.facebook { background: navy; }
.share-btn.instagram { background: #E1306C; }

.container{
    width: 500px;
    margin: auto;
  }
  .facebook,.instagram,.youtube,.twitter,.google-plus{
    display: inline-block;
    margin-right: 5px;
  }

  .facebook{
    width: 20px;
    height: 20px;
    background-color: blue;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
  }

.google-plus{
    width: 20px;
    height: 20px;
    background-color: red;
    line-height:20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
  }

.email{
    width: 20px;
    height: 20px;
    background-color: red;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
  }
.whatsapp{
    width: 20px;
    height: 20px;
    background-color: green;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
  }

.youtube{
    width: 20px;
    height: 20px;
    background-color: darkred;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
  }
.instagram{ 
    width: 20px;
    height: 20px;
    background-color:#E1306C;
    line-height:20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}


  .twitter{
    width: 20px;
    height: 20px;
    background-color: #3899fe;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
  }
.wrap .footer{
	
	background: black;
	width-max: 1920 x 1080px;
	padding: 10px;
	text-align: left;
	font-family:  Times New Roman;
	color: White;
	line-height:15px;
	font-size: 10px;
	margin-top:3px;
      	margin-bottom:5px;
	
	}

.wrap .footer2{
	background:black;
	width-max: 1920 x 1080px;
	padding: 10px;
	font-size: 10px;
	line-height:15px;
	text-align:center;
	font-family:  Times New Roman;
	color: yellow;
	margin-top:3px;
      	margin-bottom:5px;
	
	}